<input type="text" [(ngModel)]="title">
{{title}}

<div *ngIf="title === 'nicolas' ">
este es un div 
</div>
<app-product>
</app-product>
<div *ngIf="title === 'nicolas' ">
  este es un Julian
  </div>
  
<button (click)="addItem()">
Add Item 
</button>

<ul>
    <li *ngIf="items.length === 0">
          la lista esta vacia
    </li>
  <li *ngFor="let name of items; index as i">
    {{name}}{{i}}
    <button (click)="deleteItem()" >
    delete
    </button>
  </li>
</ul>

<div *ngFor="let product of products">
{{product.title}}
<!-- para modificar un atributo de html  -->
<img [src]="product.image" alt="">
{{product.image}}
</div>